.rotate img {
  width:120px;
  padding-bottom:20px;
}

.rotate {
  margin-left: 22px;
}

.carouselbck {
  background-color:#545454;
  width:100%;
padding-left:5%;
}

@media (max-width: 991px) {
.carouselbck {
  background-color:#545454;
  width:100%;
padding-left:0%;
}
}

.carouselbck2 {
  background-color:#545454;
  width:100%;
  padding-left:0%;
  left:0px;
  position: absolute;
  top:1232px;
  height: 440px;
}


.behindcarousel {
  width:100%;
  height:160px;
  background-color:#545454;
  position:absolute;
  top:909px;
  left:0px;
}

@media (max-width: 991px) {
  .behindcarousel {
    width:100%;
    height:130px;
    background-color:#545454;
    position:absolute;
    top:919px;
    left:0px;
  }
}

.behindcarousel2 {
  width:100%;
  height:160px;
  background-color:#545454;
  position:absolute;
  top:758px;
  left:0px;
}

@media (max-width: 991px) {
  .behindcarousel2 {
    width:100%;
    height:160px;
    background-color:#545454;
    position:absolute;
    top:755px;
    left:0px;
  }
}
