<div class="footer">
    <div class="bluefooter">

  	<div class="container">

      <div class="row">





      </div>

  	<div class="row whitetext midrow">

  		  <div class="col-sm-4 lefty spacy">

  		  	<h3>CONTACT US</h3>
  		  	<div class="allphone"><div class="phone"><img src="/assets/phone.png"></div><div class="phonenumber">952-373-4010</div></div>
  		  	<br/>
  		  	<div class="allemail"><a href="mailto:support@catsone.com"><div class="email"><img src="/assets/email.png"></div><div class="emailaddress">support@catsone.com</div></a></div>

  		</div>

  		<div class="col-sm-2 spacy">

  			<h3>ABOUT</h3>

  		  	<p><a href="/company/index.html">Our Company</a></p>
          <p><a href="/news/index.html">News</a></p>
          <p><a href="http://www.catsone.com/blog" target="_blank">Blog</a></p>
  		  	<p><a href="http://jobs.catsone.com/" target="_blank">Careers</a></p>

  		</div>

      <div class="col-sm-3 spacy">

        <h3>RESOURCES</h3>

        <p><a href="http://support.catsone.com/knowledgebase" target="_blank">Knowledge Base</a></p>
        <p><a href="/faq/index.html">FAQ</a></p>
        <p class="displaywidthxs"><a href="/downloads/index.html">Downloads</a></p>


      </div>

  		  <div class="col-sm-3 spacy">

  		  	<h3>LEGAL</h3>

  		  	<p><a href="/terms/index.html">Terms of Service</a></p>
  		  	<p><a href="/website_terms_of_use/index.html">Website Terms of Use</a></p>
  		  	<p><a href="/privacy_policy/index.html">Privacy Policy</a></p>
  		  	<p><a href="/safe_harbor_policy/index.html">Safe Harbor Policy</a></p>

  		  </div>


 	 </div>



  	<div class="row whitetext">

      <div class="col-sm-5 col-xs-12">
      <div class="socialicons">
    <a href="https://www.facebook.com/catsone" target="_blank"><img src="/assets/facebook.jpg" onmouseover="this.src='/assets/facebookhover.jpg'" onmouseout="this.src='/assets/facebook.jpg'"></a>
    <a href="https://twitter.com/catsone/" target="_blank"><img src="/assets/twitter.jpg" onmouseover="this.src='/assets/twitterhover.jpg'" onmouseout="this.src='/assets/twitter.jpg'"></a>
    <a href="https://www.linkedin.com/company/cats-software-inc?trk=fc_badge" target="_blank"><img src="/assets/linkedin.jpg" onmouseover="this.src='/assets/linkedinhover.jpg'" onmouseout="this.src='/assets/linkedin.jpg'"></a>
    <a href="https://plus.google.com/u/0/107173691572817257962" target="_blank"><img src="/assets/googleplus.jpg" onmouseover="this.src='/assets/googleplushover.jpg'" onmouseout="this.src='/assets/googleplus.jpg'"></a>
      </div>
      </div>
      <div class="col-sm-2 col-xs-12 totop displaywidthxs"><a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></div>
  	 <div class="col-sm-5 col-xs-12 righty">
  			<div class="copyright">Copyright © 2015 CATS Software, Inc.</div>
  		</div>

  	</div>

    <div class="row whitetext">

      <div class="col-sm-2 col-xs-12 totop nodisplaywidthxs"><a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></div>


    </div>





  	</div>

  </div>

</div>
