.bluefooter {
		width:100%;
		background-color:#5682c6;
		position:relative;
		bottom:0px;
		z-index:5000;
	}
	
	.bluefooter a {
		text-decoration:none;
		color:white;
	}
	
	.bluefooter a:hover {
		text-decoration:none;
		color:#f6921e;
	}
	
	.socialicons {
		float:right;
		margin-right:0px;
	}
	
	.socialicons img {
		width:40px;
		float:left;
		margin-right:5px;
		margin-left:5px;
		margin-top:20px;
	}
	
	@media (max-width: 991px) {
    .socialicons img {
    	width:30px;
    	margin-right:3px;
    	margin-left:2px;
    }
	}
	
	@media (max-width: 767px) {
    .socialicons img {
    	width:40px;
    	margin-right:3px;
    	margin-left:2px;
    }
	}
	
	.whitetext {
		color:white;
	}
	
	.contact {
		background-color:none;
	}
	
	.copyright {
		margin-bottom:10px;
	}
	
	.phone {
		float:left;
		margin-right:10px;
	}
	
	.phone img {
		height:20px;
	}
	
	.email {
		float:left;
		margin-right:10px;
	}
	
	.email img {
		height:12px;
	}
	
	.phonenumber {
		float:left;
		font-size:1.2em;
		position:relative;
		top:-2px;
	}
	
	.emailaddress {
		float:left;
		font-size:1.2em;
		position:relative;
		top:-2px;
	}
	
	.allphone {
		width:100%;
		height:20px;
	}
	
	.allemail {
		width:100%;
		height:20px;
		position:relative;
		top:-12px;
	}
	
	.contact {
		height:100px;
		width:100%;
	}
	
	.about {
		height:150px;
		width:100%;
	}
	
	.legal {
		height:150px;
		width:100%;
	}